/* 字体导入 */
@font-face {
  font-family: "Ma Shan Zheng";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mashanzheng/v10/NaPecZTRCLxvwo41b4gvzkXaRMGEFoZJFdX0wQ5Xo5Hr21L9zCcRFhbSe5Nk0pIMuUkHEA.5.woff2)
    format("woff2");
  unicode-range: U+fee3, U+fef3, U+ff03-ff04, U+ff07, U+ff0a, U+ff17-ff19,
    U+ff1c-ff1d, U+ff20-ff3a, U+ff3c, U+ff3e-ff5b, U+ff5d, U+ff61-ff65,
    U+ff67-ff6a, U+ff6c, U+ff6f-ff78, U+ff7a-ff7d, U+ff80-ff84, U+ff86,
    U+ff89-ff8e, U+ff92, U+ff97-ff9b, U+ff9d-ff9f, U+ffe0-ffe4, U+ffe6, U+ffe9,
    U+ffeb, U+ffed, U+fffc, U+1f004, U+1f170-1f171, U+1f192-1f195, U+1f198-1f19a,
    U+1f1e6-1f1e8;
}

.brand,
h1.post-title {
  font-family: "Ma Shan Zheng", cursive, Georgia, serif;
  font-weight: 400;
  font-style: normal;
}

header.header-mode-1 {
  z-index: 3;
  position: fixed;
  background-color: #fff;
  color: #000;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  backdrop-filter: initial;
  -webkit-backdrop-filter: initial;
}

header.no-banner {
  border-bottom: 2px #222 solid;
}

header.pull-up {
  box-shadow: initial;
  border-bottom: 1px solid rgb(0 0 0 / 7%);
}

header .container nav a,
header .container nav span.dropdown {
  margin: 0 0.6rem;
  font-family: "Ma Shan Zheng", cursive, Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

body:not(.theme-dark) header .container nav a,
body:not(.theme-dark) header .container nav span.dropdown {
  color: #000;
}

header .container nav a.brand {
  height: 2rem;
  top: 0.9rem;
  padding-top: 0.5rem;
  text-transform: uppercase;
  font-weight: 400;
  opacity: 1;
  visibility: visible;
  transition: all ease-in-out 0.45s;
}

header .container nav span.dropdown ul {
  top: 100%;
  background: #fff !important;
  border: 2px solid #eee;
  box-shadow: initial !important;
}

header .container nav a:not(.brand):not(#toggle-mobile-search):hover,
header
  .container
  nav
  span.dropdown:not(.brand):not(#toggle-mobile-search):hover {
  background-color: transparent !important;
}

header .container nav a:not(.brand):hover,
header .container nav span.dropdown:not(.brand):hover {
  opacity: 0.65;
}

@supports (
  (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))
) {
  body:not(.theme-dark) header.force-dark,
  body:not(.theme-dark) header.pull-up {
    background: #fff;
  }
}

body:not(.theme-dark) header .container nav span.dropdown,
body:not(.theme-dark) header .container nav span.dropdown:hover,
body:not(.theme-dark) header .container nav > a,
body:not(.theme-dark) header .container nav > a:hover {
  color: #222;
}

body:not(.theme-dark) #nav-mobile section,
body:not(.theme-dark) #nav-mobile section * {
  color: #1d1d1d;
}

body:not(.theme-dark) #nav-mobile section {
  border-bottom: 1px solid rgb(0 0 0 / 5%);
}

body:not(.theme-dark) #nav-mobile {
  background: rgb(255 255 255 / 95%);
}

#nav-mobile section {
  padding-top: 1.75rem;
  font-family: "Ma Shan Zheng", cursive, Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

#nav-mobile section::before {
  text-align: center;
  width: 100%;
}

body:not(.theme-dark) header .container nav a.toggle span,
body:not(.theme-dark) header .container nav a.toggle span::after,
body:not(.theme-dark) header .container nav a.toggle span::before,
body:not(.theme-dark) header .container nav span.dropdown.toggle span,
body:not(.theme-dark) header .container nav span.dropdown.toggle span::after,
body:not(.theme-dark) header .container nav span.dropdown.toggle span::before {
  background-color: #222 !important;
}

/*------------dark-------------*/

body.theme-dark header {
  background-color: #000 !important;
}

body.theme-dark header .container nav span.dropdown ul {
  background: #222 !important;
  border-color: #181818;
}
body.theme-dark header.pull-up {
  border-color: rgb(0 0 0 / 35%);
}

body.theme-dark header.opened {
  background-color: #222222 !important;
}
body.theme-dark header .container nav a.toggle span,
body.theme-dark header .container nav a.toggle span::after,
body.theme-dark header .container nav a.toggle span::before,
body.theme-dark header .container nav span.dropdown.toggle span,
body.theme-dark header .container nav span.dropdown.toggle span::before,
body.theme-dark header.container nav span.dropdown.toggle span::after {
  background-color: #dfdfdf !important;
}

/*----------------PC 端-----------------*/
@media screen and (min-width: 767px) {
  header {
    padding-bottom: 10px;
  }

  header.pull-up {
    top: -50px;
  }

  header .container {
    height: 100px;
  }

  header .container nav {
    justify-content: center;
    align-items: flex-end;
  }

  header .container nav a,
  header .container nav span.dropdown {
    align-items: flex-end;
    height: 30px;
  }

  header .container nav a.brand {
    align-items: flex-start;
    left: initial;
  }

  #nav-mobile {
    padding-top: 4rem;
  }

  header .container nav a.toggle {
    right: 10px;
    height: 30px;
  }

  header.opened .container nav a.toggle {
    display: flex;
  }

  header .container nav #toggle-mobile-search {
    position: relative;
    right: initial;
    font-size: 20px;
    line-height: initial;
  }

  main .lazy-wrap {
    padding-top: 0;
    height: 60vh;
    margin-top: 100px;
  }
}

/*----------------移动 端----------------------*/
@media screen and (max-width: 767px) {
  header .container nav a.brand {
    top: 0.5rem;
  }

  header .container nav a#toggle-setting,
  header .container nav span.dropdown#toggle-setting {
    right: 2.25rem;
  }

  main .lazy-wrap{
    margin-top: 50px;
  }
}